<div id="land">
  <div class="vcenter">
    <h2>Create and Share your Awesome Short Films</h2>
    <h1>Hamaara Short Films</h1>
    <%= link_to fa_icon("facebook-square", text: "Login with Facebook"), user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-lg" %>
    <div class="disclaimer">We don't share anything without your permission</div>
    <p>with <%= fa_icon "heart" %> from G.G Friends</p>
  </div>
</div>