<div id="land">
  <div class="vcenter">
    <h2>Create and Share your Awesome Short Films</h2>
    <h1>Hamaara Short Films</h1>
    
    <div class="disclaimer">We don't share anything without your permission</div>
    <p>with <%= fa_icon "heart" %> from Vineet Souri</p>
  </div>
</div>