<h1>Successfully Logged in</h1>
<div id="user_details">
  <p>Logged in as</p>
  <h4><%= current_user.name %></h4>
  <%= link_to fa_icon('sign-out', text: 'Logout'), destroy_user_session_path, method: :delete %>
</div>