<div class="well">
  <%= simple_form_for @new_video, remote: true, html: { class: 'form-inline' } do |f| %>
  <%= f.input :title, label: false, placeholder: "Enter your favourite short film URL", autofocus: true %>
  <%= f.submit "Create Task", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <h3>Madhuram - A beautiful short film</h3>
    <iframe width="500" height="265" src="https://www.youtube.com/embed/4p9dFL_Xcrg" frameborder="0" allowfullscreen></iframe>
    <h3>MR! Productions (Possesiveness)</h3>
    <iframe width="500" height="265" src="https://www.youtube.com/embed/3_MKEB1_Wkw" frameborder="0" allowfullscreen></iframe>
  </div>
</div>